.guide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #221F1F;
    position: relative;
}

.dreptunghi {
    position: absolute;
    left: calc(2.50cm - 20px);
    top: calc(2.50cm - 20px);
    right: calc(2.50cm - 20px);
    bottom: calc(2.50cm - 20px);
    border-radius: 50px;
    background-color: #000000;
    padding: 20px;
    z-index: 1;
}

.poza {
    position: absolute;
    right: calc(19cm - 20px);
    top: calc(2.50cm - 20px);
    left: calc(2.50cm - 20px);
    bottom: calc(2.50cm - 20px);
    border-radius: 50px;
    z-index: 2;
    overflow: hidden;
}

.poza img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text {
    position: absolute;
    right: calc(1cm - 20px);
    top: calc(2.50cm - 20px);
    left: calc(19cm - 20px);
    bottom: calc(2.50cm - 20px);
    border-radius: 50px;
    z-index: 2;
    overflow: hidden;
    color: white;
    background-color: #000000;
    text-align: center;
    font-family: "Georgia";
}

.text .line1 {
    font-size: 16px; /* Dimensiunea pentru prima linie */
}

.text .line2 {
    font-size: 13px; /* Dimensiunea pentru a doua linie */
}

.button {
    background-color: #221F1F;
    border-radius: 10px;
    border-color:#7f7f7f;
    position: absolute;
    align-self: center;
    width: 300px; /* lățimea butonului */
    height: 32px; /* înălțimea butonului */
    color: white;
    top: calc(13.5cm - 20px);
    z-index: 3;
    left: calc(24cm - 20px);
    font-family: "Georgia";
    font-size: 13px;
}



